<form (ngSubmit)="updateForm()" enctype="multipart/form-data" #form="ngForm">
  <input type="hidden" name="operation" [ngModel]="'verify'">
  <h1>Soporte</h1>
  <div class="form-controlgroup approval">
    <label>Approved</label>
    <input type="radio" name="supportApproved" value="approve" [(ngModel)]="order.supportApproval"><span> Sí</span>
    <span class="inline-spacer"></span>
    <input type="radio" name="supportApproved" value="deny" [(ngModel)]="order.supportApproval"><span>No</span>
  </div>
  <div class="form-controlgroup no-align-center">
    <label>Comentarios</label>
    <textarea name="supportComments" rows="8" cols="80" [(ngModel)]="order.supportComments"></textarea>
  </div>
  <input class="submit-button" type="button" value="Enviar" (click)="submitForm()" [disabled]="form.invalid || form.disabled"/>
</form>

<pre>{{form.value | json}}</pre>
