input.submit-button.delete {
  display: block;
  width: 80%;
  height: 30px;
  margin: auto;
  margin-top: 50px;
  padding: 0;
  border: none;
  border-radius: 10px;
  background-color: #f73b3b;
  cursor: pointer;
}

input.submit-button.delete:enabled:hover {
    background-color: #ba2d2d;
}

input.submit-button.delete:disabled:hover {
  cursor: not-allowed;
}
