<form class="new-request" (ngSubmit)="submitOrderChange()" enctype="multipart/form-data" #f="ngForm">
    <input type="hidden" name="operation" value="create">
    <h1>Nuevo Solicitud</h1>
    <div class="all-indent">
        <div class="section">
            <h2>General</h2>
            <div class="section-body">
                <div class="form-controlgroup">
                    <label>Client</label>
                    <input type="text" name="clientcontact" [(ngModel)]="order.clientContact" #clientContact="ngModel">
                </div>
                <div class="form-controlgroup">
                    <label>Type</label>
                    <select name="type" [(ngModel)]="order.type" #type="ngModel">
                        <option>Laptop</option>
                        <option>Desktop</option>
                    </select>
                </div>
                <div class="form-controlgroup">
                    <label>Date Needed</label>
                    <input type="date" name="dateneeded" [(ngModel)]="order.dateNeeded" #dateNeeded="ngModel"><br/>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>Hardware Specs</h2>
            <div class="section-body">
                <div class="form-controlgroup">
                    <label>Processor</label>
                    <select name="processor" [(ngModel)]="order.processor" #processor="ngModel">
                        <option>Intel</option>
                        <option>AMD</option>
                    </select>
                </div>
                <div class="form-controlgroup">
                    <label>Memory</label>
                    <input type="number" name="memory" [(ngModel)]="order.memory" #memory="ngModel"><span>gb</span>
                </div>
                <div class="form-controlgroup">
                    <label>Hard disk</label>
                    <input type="number" name="harddisk" [(ngModel)]="order.harddisk" #harddisk="ngModel"><span>gb</span>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>OS</h2>
            <div class="section-body">
                <div class="form-controlgroup">
                    <label>Operating System</label>
                    <select name="operatingsystem" [(ngModel)]="order.operatingSystem" #operatingSystem="ngModel">
                        <option>Windows</option>
                        <option>MacOS</option>
                        <option>Linux</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>Software</h2>
            <div class="section-body">
                <div class="form-controlgroup variable-input" *ngFor="let soft of order.softwares">
                    <input type="text" [name]="'software' + soft.softid" [(ngModel)]="soft.software">
                    <i class="material-icons delete" (click)="removeSoft($event)">delete</i>
                </div>
                <div class="form-controlgroup variable-input">
                    <input type="text" placeholder="Other..." #softAdd>
                    <i class="material-icons add" (click)="addSoft()">add</i>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>Other</h2>
            <div class="section-body">
                <div class="form-controlgroup variable-input" *ngFor="let oth of order.others">
                    <input type="text" name="other" [(ngModel)]="oth.otherspec">
                    <i class="material-icons delete">delete</i>
                </div>
                <div class="variable-input">
                    <input type="text" name="other2" placeholder="Other...">
                    <i class="material-icons add">add</i>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>Cost Sheet</h2>
            <div class="section-body row">
                <div class="left">
                    <label>Excel Sheet</label>
                </div>
                <div class="right">
                    <input type="file" name="cost-sheet"/>
                </div>
            </div>
        </div>
        <div class="section">
            <h2></h2>
            <input type="submit" value="Enviar"/>
        </div>
    </div>
</form>

<pre>{{f.value | json}}</pre>
