<form (ngSubmit)="updateEmployee()" #f="ngForm">
  <div class="form-controlgroup">
    <label>First Name</label>
    <input type="text" name="fname" [(ngModel)]="emp.fname" #fname="ngModel" required>
    <div class="form-controlgroup-feedback">
    </div>
  </div>
  <div class="form-controlgroup">
    <label>Last Name</label>
    <input type="text" name="lname" [(ngModel)]="emp.lname" #lname="ngModel" required>
    <div class="form-controlgroup-feedback">
    </div>
  </div>
  <div class="form-controlgroup">
    <label>Username</label>
    <input type="text" name="username" [(ngModel)]="emp.username" #username="ngModel" required>
    <div class="form-controlgroup-feedback">
    </div>
  </div>
  <div class="form-controlgroup">
    <label>Role</label>
    <input type="text" name="role" [(ngModel)]="emp.role" #role="ngModel" required>
    <div class="form-controlgroup-feedback">
    </div>
  </div>
  <div class="form-controlgroup">
    <label>Email</label>
    <input type="text" name="email" [(ngModel)]="emp.email" #email="ngModel" required>
    <div class="form-controlgroup-feedback">
    </div>
  </div>
  <button type="submit" [disabled]="f.invalid">Update</button>
</form>

<button type="button" (click)="showPasswordDiag()" *ngIf="!showChangePass">Change Password</button>

<form (ngSubmit)="changePassword()" #passf="ngForm" *ngIf="showChangePass">
  <div class="form-controlgroup">
    <label>New Password</label>
    <input type="password" name="password1" ngModel #password1="ngModel" required>
    <div class="form-controlgroup-feedback">
    </div>
  </div>
  <div class="form-controlgroup">
    <label>Email</label>
    <input type="password" name="password2" ngModel #password2="ngModel" required>
    <div class="form-controlgroup-feedback">
    </div>
  </div>
  <button type="submit" [disabled]="passf.invalid">Change Password</button>
</form>
