:host {
    border-top: solid black 1px;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    overflow: hidden;
    height: 100px;
    box-sizing: border-box;
}

:host:last-child {
    border-bottom: solid black 1px;
}

:host:hover {
    background-color: #dddddd;
}

:host:focus {
  outline: none;
}

.left {
    width: 90px;
    padding-right: 10px;
}

.left .wrapper {
    margin-top: 5px;
}

.left .circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    margin: auto;
    margin-bottom: 10px;
}

.left p {
    text-align: center;
    font-size: .9em;
}

.right {
    flex: 1 1 auto;
    overflow: hidden;
}
