form {
  background-color: white;
  border-radius: 50px;
  border: none;
  margin-bottom: 15px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  padding-top: 20px;
}

h2 {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: solid #cccccc 1px;
}

.form-controlgroup {
  padding-left: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 10px;
}

.form-controlgroup.no-align-center {
  align-items: flex-start;
}

.form-controlgroup.approval {
  margin-bottom: 20px;
}

.form-controlgroup label {
    box-sizing: border-box;
    width: 150px;
}

.form-controlgroup textarea {
  resize: vertical;
}

.form-controlgroup.variable-input {
  padding-left: 0;
  margin-left: 40px;
}

.variable-input {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: solid #ccc 2px;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-right: 40px;
}

.variable-input input[type=text] {
    width: 50px;
    flex: 1 1 auto;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.variable-input i {
    cursor: pointer;
}

.variable-input i.delete {
    background-color: #f78174;
}

.variable-input i.delete:hover {
    background-color: #f44f3d;
}

.variable-input i.add {
    background-color: #75f493;
}

.variable-input i.add:hover {
    background-color: #37f263;
}

.inline-spacer {
  width:15px;
}

input.submit-button {
    display: block;
    width: 80%;
    height: 30px;
    margin: auto;
    margin-top: 50px;
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: #f7af19;
    cursor: pointer;
}

input.submit-button:hover {
    background-color: #F79212;
}
