<form (ngSubmit)="submitForm()" enctype="multipart/form-data" #form="ngForm">
  <input type="hidden" name="operation" [ngModel]="'quote'">
  <h1>HelpDesk</h1>
  <div class="form-controlgroup">
    <label>Provider</label>
    <input type="text" name="supplier" [(ngModel)]="order.supplier">
  </div>
  <div class="form-controlgroup">
    <label>Final Price</label>
    <input type="number" name="finalPrice" [(ngModel)]="order.finalPrice">
  </div>
  <div class="form-controlgroup">
    <label>Aqcuisition Method</label>
    <select name="acquisitionType" [(ngModel)]="order.acquisitionType">
      <option>online</option>
      <option>vendor</option>
      <option>telephone</option>
      <option>other</option>
    </select>
  </div>
  <div class="form-controlgroup">
    <label>Quote Date</label>
    <input type="date" name="quotedDate" [(ngModel)]="order.quotedDate">
  </div>
  <div class="form-controlgroup no-align-center">
    <label>Comentarios</label>
    <textarea name="quoteComments" rows="8" cols="80" [(ngModel)]="order.quoteComments"></textarea>
  </div>
  <input class="submit-button" type="button" value="Enviar" (click)="submitForm()"/>
</form>

<pre>{{form.value | json}}</pre>
