<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>systemorders-webapp</display-name>
  <servlet>
    <display-name>OrderSubmissionServlet</display-name>
    <servlet-name>OrderSubmissionServlet</servlet-name>
    <servlet-class>ws.synopsis.systemorder.servlets.OrderSubmissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderSubmissionServlet</servlet-name>
    <url-pattern>/OrderSubmissionServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>ws.synopsis.systemorder.servlets.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
</web-app>