:host{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 10px;
}

:host:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

:host.active {
  background-color: #eeeeee;
  outline: none;
}

i {
  padding-right: 15px;
  user-select: none;
}
