<ul>
    <li class="button">
        <a href="#">
            <i class="material-icons">add</i>
            <div>Nuevo solicitud</div>
        </a>
    </li>
    <li class="button">
        <a href="#">
            <i class="material-icons">inbox</i>
            <div>Main</div>
        </a>
    </li>
    <li class="button">
        <a href="#">
            <i class="material-icons">forward</i>
            <div>Pending</div>
        </a>
    </li>
    <li class="button">
        <a href="#">
            <i class="material-icons">send</i>
            <div>Completed</div>
        </a>
    </li>
</ul>
