<form (ngSubmit)="submitForm()" enctype="multipart/form-data" #form="ngForm">
  <input type="hidden" name="operation" [ngModel]="'deliver'">
  <h1>Delivered</h1>
  <div class="form-controlgroup">
    <label>Date arrived</label>
    <input type="date" name="dateArrived" [(ngModel)]="order.dateArrived">
  </div>
  <div class="form-controlgroup no-align-center">
    <label>Comentarios</label>
    <textarea name="deliverComments" rows="8" cols="80" [(ngModel)]="order.deliverComments"></textarea>
  </div>
  <input class="submit-button" type="button" value="Enviar" (click)="submitForm()" [disabled]="form.invalid || form.disabled"/>
</form>

<pre>{{form.value | json}}</pre>
