<form (ngSubmit)="submitForm()" enctype="multipart/form-data" #form="ngForm">
  <input type="hidden" name="operation" [ngModel]="'deliver'">
  <input type="hidden" name="orderid" [value]="order.orderid" ngModel>
  <h1>Delivered</h1>
  <div class="form-controlgroup">
    <label>Date arrived</label>
    <input type="date" name="dateArrived" [(ngModel)]="order.dateArrived">
  </div>
  <input class="submit-button" type="button" value="Enviar" (click)="submitForm()"/>
</form>

<pre>{{form.value | json}}</pre>
