<form (ngSubmit)="submitForm()" enctype="multipart/form-data" #form="ngForm">
  <input type="hidden" name="operation" [ngModel]="'create'">
  <h1>Nuevo Solicitud</h1>
  <h2>General</h2>
  <div class="form-controlgroup">
      <label>Client</label>
      <input type="text" name="clientContact" ngModel #clientContact="ngModel" required>
  </div>
  <div class="form-controlgroup">
      <label>Type</label>
      <select name="deviceType" ngModel #type="ngModel" required>
          <option>Laptop</option>
          <option>Desktop</option>
      </select>
  </div>
  <div class="form-controlgroup">
      <label>Date Needed</label>
      <input type="date" name="dateNeeded" ngModel #dateNeeded="ngModel" required><br/>
  </div>
  <h2>Hardware Specs</h2>
  <div class="row">
    <div class="column">
      <div class="form-controlgroup">
          <label>Processor</label>
          <select name="processor" ngModel #processor="ngModel" required>
              <option>Intel</option>
              <option>AMD</option>
          </select>
      </div>
      <div class="form-controlgroup">
          <label>Memory</label>
          <input type="number" name="memory" ngModel #memory="ngModel" required><span>gb</span>
      </div>
      <div class="form-controlgroup">
          <label>Hard disk</label>
          <input type="number" name="harddisk" ngModel #harddisk="ngModel" required><span>gb</span>
      </div>
    </div>
    <div class="column">
      <div class="form-controlgroup checkbox">
          <label>Mouse</label>
          <input type="checkbox" name="mouseHardware" ngModel required><span></span>
      </div>
      <div class="form-controlgroup checkbox">
          <label>Keyboard</label>
          <input type="checkbox" name="keyboardHardware" ngModel required><span></span>
      </div>
      <div class="form-controlgroup checkbox">
          <label>Monitor</label>
          <input type="checkbox" name="monitor" ngModel required><span></span>
      </div>
    </div>
  </div>
  <h2>OS</h2>
  <div class="form-controlgroup">
      <label>Operating System</label>
      <select name="operatingSystem" ngModel #operatingSystem="ngModel" required>
          <option>Windows</option>
          <option>MacOS</option>
          <option>Linux</option>
      </select>
  </div>
  <h2>Software</h2>
  <div class="form-controlgroup variable-input" *ngFor="let soft of order.newSoftwares; let i = index">
      <input type="text" [name]="'software' + soft.softid" [(ngModel)]="soft.software">
      <i class="material-icons delete" (click)="removeSoft(i)">delete</i>
  </div>
  <div class="form-controlgroup variable-input">
      <input type="text" placeholder="Software..." #softAdd (keyup.enter)="addSoft()">
      <i class="material-icons add" (click)="addSoft()">add</i>
  </div>
  <h2>Other</h2>
  <div class="form-controlgroup variable-input" *ngFor="let oth of order.newOthers; let i = index">
      <input type="text" [name]="'other' + oth.otherid" [(ngModel)]="oth.otherspec">
      <i class="material-icons delete" (click)="removeOther(i)">delete</i>
  </div>
  <div class="form-controlgroup variable-input">
      <input type="text" name="other2" placeholder="Other..." #otherAdd (keyup.enter)="addOther()">
      <i class="material-icons add" (click)="addOther()">add</i>
  </div>
  <h2>Cost Sheet</h2>
  <div class="form-controlgroup">
    <label>Excel Sheet</label>
    <input type="file" name="cost-sheet" ngModel (change)="onCostSheetChange($event)" #costSheetInput="ngModel" required/>
  </div>
  <input class="submit-button" type="button" value="Enviar" (click)="submitForm()" [disabled]="form.invalid"/>
</form>

<pre>create {{form.value | json}}</pre>
