html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

i.material-icons {
    user-select: none;
}

nav {
    flex: 0 0 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgb(50, 50, 50);
    color: white;
}

nav div {
    padding: 10px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; */
}

nav > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

nav > div > p {
    font-size: 1.5em;
}

nav .company {
    margin-left: 1em;
}

nav .company img {
    height: 100%;
}

nav .app p {
    /* font-size: 2em; */
}

nav .user {
    /* width: 120px; */
}

nav .user img {
    height: 40px;
    border-radius: 40px;
}

nav .user p {
    padding-right: 20px;
}

.main-container {
    /* height: 88vh; */
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.main-container > div {
    border-right: solid #cccccc 1px;
}

.main-container > div:last-child {
    border-right: none;
}

/* inbox panel styling ------------------------------------------------------- */

.main-container .inbox-panel {
    width: 200px;
    flex: 0 0 auto;
}

.main-container .inbox-panel ul,
.main-container .order-tray ul {
    list-style-type: none;
    padding-left: 0px;
}

.main-container .inbox-panel .button a,
.main-container .order-tray .order a {
    text-decoration: none;
    color: black;
    display: flex;
}

.main-container .inbox-panel .button a {
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px;
}

.main-container .inbox-panel .button a:hover {
    background-color: #eeeeee;
}

.main-container .inbox-panel .button a i {
    padding-right: 15px;
    user-select: none;
}

/* order tray styling -------------------------------------------------------- */

.main-container .order-tray {
    width: 300px;
    flex: 0 0 auto;
    background-color: #eeeeee;
    overflow: hidden;
}

.main-container .order-tray .tray-search {
    padding: 15px 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.main-container .order-tray .tray-search i {
    font-size: 35px;
    user-select: none;
}

.main-container .order-tray .tray-search i:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.main-container .order-tray .tray-search i:active {
    background-color: #cccccc;
}

.main-container .order-tray .tray-search i.filter {
    margin-left: 10px;
}

.main-container .order-tray .tray-search input[type=text] {
    width: 50px;
    flex: 1 1 auto;
    box-sizing: border-box;
    border: solid #eee 1px;
    border-radius: 4px;
    font-size: 25px;
    background-color: #eeeeee;
    background-image: url('baseline_search_black_36dp.png');
    background-position: 3px 3px;
    background-repeat: no-repeat;
    /* padding: 12px 20px 12px 40px; */
    padding: 5px 0px 5px 40px;
    outline: none;
}

.main-container .order-tray .tray-search input[type=text]:focus {
    background-color: white;
    border: solid #ccc 1px;
}

.main-container .order-tray .order-list {
    max-height: 100%;
    overflow-y: auto;
}

.main-container .order-tray ul {
    margin-top: 0;
}

.main-container .order-tray .order {
    border-top: solid black 1px;
}

.main-container .order-tray .order:last-child {
    border-bottom: solid black 1px;
}

.main-container .order-tray .order a {
    flex-flow: row nowrap;
    padding: 10px;
    overflow: hidden;
    height: 100px;
    box-sizing: border-box;
}

.main-container .order-tray .order a:hover {
    background-color: #dddddd;
}

.main-container .order-tray .order .left {
    width: 90px;
    padding-right: 10px;
}

.main-container .order-tray .order .left .wrapper {
    margin-top: 5px;
}

.main-container .order-tray .order .left .circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    margin: auto;
    margin-bottom: 10px;
}

.main-container .order-tray .order .left p {
    text-align: center;
    font-size: .9em;
}

.main-container .order-tray .order .right {
    flex: 1 1 auto;
    overflow: hidden;
}

/* content view styling ------------------------------------------------------ */

.main-container .content-view {
    flex: 1 1 100px;
    position: relative;
    overflow: hidden;
}

.main-container .content-view img.background-img {
    position: absolute;
    z-index: -1;
}

.main-container .content-view .content {
    width: 100%;
    height: 100%;
}

/* new order form styling ---------------------------------------------------- */

.content .new-order-form-page {
    padding: 25px 50px;
    background-color: white;
    overflow-y: auto;
    max-height: 100%
}

.content .new-order-form-page .all-indent {
    padding: 20px 40px;
}

.content .new-order-form-page .section {
    margin-bottom: 20px;
}

.content .new-order-form-page .section h2 {
    border-bottom: solid #cccccc 1px;
}

.content .new-order-form-page .section .section-body {
    padding: 10px 0px 0px 40px;
}

.content .new-order-form-page .section .section-body.row {
    display: flex;
    flex-flow: row nowrap;
}

.content .new-order-form-page .section .section-body.row .right {
    padding-left: 20px;
}

.content .new-order-form-page .section .section-body p,
.content .new-order-form-page .section .section-body select,
.content .new-order-form-page .section .section-body input {
}

.content .new-order-form-page .section .section-body .variable-input {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: solid #ccc 2px;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-right: 40px;
}

.content .new-order-form-page .section-body .variable-input input[type=text] {
    width: 50px;
    flex: 1 1 auto;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.content .new-order-form-page .section-body .variable-input i {
    cursor: pointer;
}

.content .new-order-form-page .section-body .variable-input i.delete {
    background-color: #f78174;
}

.content .new-order-form-page .section-body .variable-input i.delete:hover {
    background-color: #f44f3d;
}

.content .new-order-form-page .section-body .variable-input i.add {
    background-color: #75f493;
}

.content .new-order-form-page .section-body .variable-input i.add:hover {
    background-color: #37f263;
}

.content .new-order-form-page .section input[type=submit] {
    display: block;
    width: 80%;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: #f7af19;
    cursor: pointer;
}

.content .new-order-form-page .section input[type=submit]:hover {
    background-color: #F79212;
}
