:host {
    display:flex;
    flex-flow: row nowrap;
    padding: 10px;
    overflow: hidden;
    height: 100px;
    box-sizing: border-box;
    border-top: solid black 1px;
}

:host:last-child {
    border-bottom: solid black 1px;
}

:host:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.left {
    width: 90px;
    padding-right: 10px;
}

.left img {
  width: 75px;
  border-radius: 50%;
}
